@import '../../styles/tokens.css';

.cta-button {
  background-color: var(--color-primary);
  color: var(--color-inverse-maintext);
  padding: 4px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  max-width: 500px;
  width: auto;
  text-align: center;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
}

.cta-button:hover {
  background-color: var(--color-primarymuted3);
}

.cta-button.secondary {
  background-color: var(--color-mainbackground);
  color: var(--color-maintext);
  border: 1px solid var(--color-subtlegray1);
}

.cta-button.secondary:hover {
  background-color: var(--color-gray-200);
}

.cta-button.danger {
  background-color: var(--color-error);
  color: var(--color-inverse-maintext);
}

.cta-button.danger:hover {
  background-color: var(--color-errormuted3);
}

.cta-button-text {
  font: var(--text-style-subtitle);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cta-button.small {
  padding: 2px 12px;
  font: var(--text-style-body);
  width: auto;
  min-width: 0;
  max-width: none;
  border-radius: 6px;
  height: 32px;
}

.cta-button.small .cta-button-text {
  font: var(--text-style-body);
}
