@import '../../styles/tokens.css';

/* === Sticky Header Styles === */
.sticky-header {
  position: sticky;
  top: 0;
  background: var(--color-mainbackground);
  padding: 20px 48px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
  position: relative;
}

.logo-container {
  display: block;
  height: 40px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.nav-links a {
  color: var(--color-maintext);
  text-decoration: none;
  font: var(--text-style-subtitle);
}

.nav-links a.hover {
  font: var(--text-style-subtitle-bold);
  color: var(--color-maintext);
}

.nav-links a.focused {
  font: var(--text-style-subtitle-bold);
  color: var(--color-primary);
}

/* === Responsive Header Adjustments === */
@media (max-width: 768px) {
  .sticky-header {
    padding: 20px 20px;
  }

  .logo-container {
    height: 32px;
  }

  .nav-links {
    gap: 12px;
  }
}

.profile-area {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.profile-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-hello {
  color: var(--color-maintext);
  font: var(--text-style-body);
}

@media (max-width: 768px) {
  .sticky-header {
    padding: 20px 20px;
  }
  .logo-container {
    height: 32px;
  }
  .profile-area {
    left: 8px;
  }
  .profile-avatar {
    width: 32px;
    height: 32px;
  }
}
